body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* SIDENAV */
.sidenav {
    width: 14rem;
    height: 100vh;
    background-color: #5E0006;
    border: 3.5px solid black;
    border-radius: 0 16px 16px 0;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
}

/* TOPO (logo) */
.logo {
    margin: 20px auto;
    width: 80px;
    height: 80px;
    display: block;
}

/* LINKS */
.link {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;

    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    
}
.link:hover {
    opacity: 0.8;
}

.link-active {
    width: 80%;
    display: flex;
    background-color: #e8d5b0;
    color: #000000;
}

/* RODAPÉ */
.footer {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin-top: 50vh;
    margin-bottom: 20px;
}
