:root {
  --vermelho: #5e0006;
  --verde: #589B06;
  --bege: #eed9b9;
  --preto: #000000;
  --branco: #fffef4;

  --bg-dot: #bcbcbc5b;
  --bg-dot-size: 24px;

  --sombra: 20px -20px 0px #bfbeb7;
  --contorno: 5px solid #000000;
  --arredondamento: 15px;
  --fonte: 'Maven Pro', sans-serif;
  --icone-tamanho: 24px;
  --tamanho-titulo: 50px;
  --tamanho-texto: 20px;
  --tamanho-texto-navbar: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maven-pro-regular {
  font-family: var(--fonte);
  position: absolute;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
}
